<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">
<%- include("../partials/nav") %>

<main id="meals">
  <h1><%= title %></h1>
  

  <form action="/meals" id="new-meal" method="POST">
    <input type="text" name="name">
    <button type="submit" id="add-meal">Add Meal</button>
  </form>



  <table>
    <thead>
      <th>Meal Options</th>
    </thead>
    <tbody>
      <% meals.forEach(meal => { %>
        <tr>
          <td><%= meal.name %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

</main>
<%- include("../partials/footer") %>