<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  
  <form action="/flights/<%= flight._id %>?_method=PUT" id="edit-form" method="POST">
    <label for="airline-select">Airline</label>
    <select name="airline" id="airline-select" required="true">
      
      <option value="American" <%= flight.airline === "American" ? "selected" : "" %>>American</option>
      <option value="Southwest" <%= flight.airline === "Southwest" ? "selected" : "" %>>Southwest</option>
      <option value="United" <%= flight.airline === "United" ? "selected" : "" %>>United</option>
    </select>

    <label for="flight-number-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flight-number-input" required="true" min="10" max="9999"  value="<%= flight.flightNo %>">
   
    <label for="airport-input">Airport:</label>
    <input type="text" oninput="this.value = this.value.toUpperCase()" name="airport" id="airport-input" required="true" minlength="3" maxlength="3" pattern="AUS|DFW|DEN|LAX|SAN" value="<%= flight.airport %>">
    

    <label for="departure-time-input">Departs</label>
    <input type="datetime-local" name="departs" id="departure-time-input" value=<%= departsDate %>>

    <button type="submit">Update Flight</button>
  </form>


</main>
<%- include("../partials/footer") %>